[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
numba = "*"
jax = "*"
jaxlib = "*"
ipywidgets = "*"
array2gif = "*"
animatplot = "*"
seaborn = "*"
mpi4py = "*"
petsc = "*"
petsc4py = "*"

[dev-packages]
jupyter = "*"
jupyterlab = "*"
ipython = "*"
pytest = "*"
jedi = "*"

[requires]
python_version = "3.10"
